<div id="searchpage" class="row center">
    <div class="col s12 m3 filters">
        <%= render 'search' %>
    </div>
    <div class="col s12 m9">
        <div class="row" id="customer-list">
            <span class="usefiltersmsg">Use os filtros ao lado para fazer uma busca!</span>
        </div>
    </div>
</div>
