<div id="searchpage" class="row center">
    <div style='margin-top: 24px;' class="col s12 m3 filters">
        <%= render 'search' %>
    </div>
    <div class="col s12 m9">
        <div class="row" style='margin-top: 24px; margin-left: 32px;' id="customer-list">
            <span class="usefiltersmsg">Utilize o campo ao lado para buscar clientes por Nome, Telefone, Email ou Detalhes </span>
        </div>
    </div>
</div>
