body {
    background-color: $c_background;
  }
  a.home_button_find {
    width: 100%;
    display: block;
    height: 14rem;
    border-radius: 25px;
    background-color: #e2e2e2;
    margin: 1rem 0;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      left: 0;
      top: 0;
    }
    span {
      position: absolute;
      z-index: 2;
      font-size: 18px;
      color: white;
      font-weight: bold;
      text-transform: uppercase;
      display: block;
      width: 40%;
      padding: 1rem;
    }
    &:before {
      content: "";
      height: 100%;
      width: 50%;
      background: black;
      display: block;
      z-index: 1;
      position: absolute;
    }
    &.pet {
      span {
        text-align: left;
        float: left;
      }
      &:before{
          background: linear-gradient(90deg, rgba(0,0,0,1) 25%, rgba(0,0,0,0) 100%);
      }
    }
    &.owner {
      span {
        text-align: right;
        margin-left: auto;
        right: 0;
      }
      &:before{
          right: 0;
          background: linear-gradient(270deg, rgba(0,0,0,1) 25%, rgba(0,0,0,0) 100%);
      }
    }
  }
  