<% if @rescue_request.created_by_owner %>
  <h2>Seu pedido de resgate de <%= @rescue_request.found_pet.name %></h2>
<% else %>
  <h2>Pedido de contato com o dono de <%= @rescue_request.lost_pet.name %></h2>
<% end %>
